In [33]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
#data['budget'].max()
#data.describe()
#data['budget'].value_counts()
str = data[data['runtime']==data['runtime'].min()]
str

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [34]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
#data['budget'].max()
data.describe()
#data['budget'].value_counts()
#str = data[data['runtime']==data['runtime'].min()]
#str

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [48]:
#pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
#index=['Nationality'],
#columns=['Club'],
#aggfunc='sum',
#margins=True)
#display(pivot)
data['profit'] = data['revenue'] - data['budget']
data
#str = data[data['profit']==data['profit'].min()]
#str
#str2 = data[data['revenue']>data['budget'].count()]
#str2
data[data['revenue']>data['budget']].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
prib                    1478
profit                  1478
dtype: int64

In [49]:
str = data[data['profit']==data['profit'].max()]
str

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,prib,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,2544505847

In [114]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
#data['budget'].max()
#data.describe()
#data['profit'] = data['revenue'] - data['budget']
#data
#data[(data.release_year>=2012)& (data.release_year <= 2014)& (data.profit == data.profit.min())]
#data2=data[(data['release_year'] == 2008) & (data['revenue'] == data.revenue.max())]
#data2
#data_2008=data[(data['release_year'] == 2008)]
#data_2008=data_2008[data_2008.revenue == data_2008.revenue.max()]
#data_2008
data.loc[data.release_year==2008].sort_values(by='revenue',ascending=False)#Можно в принципе применить сортировку по выручке

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,5/21/2008,5.6,2008
606,tt0441773,130000000,631744560,Kung Fu Panda,Jack Black|Dustin Hoffman|Angelina Jolie|Jacki...,Mark Osborne|John Stevenson,Prepare for awesomeness.,"When the Valley of Peace is threatened, lazy P...",90,Animation|Family,DreamWorks Animation,6/4/2008,6.8,2008
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008
607,tt0795421,52000000,609841637,Mamma Mia!,Meryl Streep|Pierce Brosnan|Amanda Seyfried|Co...,Phyllida Lloyd,Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,Comedy|Romance,Universal Pictures|Internationale Filmprodukti...,6/30/2008,6.2,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,tt0486674,25000000,6673422,What Just Happened,Bruce Willis|Robert De Niro|Sean Penn|Robin Wr...,Barry Levinson,Admit nothing.,During the course of an ordinary week in Holly...,104,Comedy|Drama,2929 Productions|Linson Entertainment|Art Lins...,10/17/2008,5.1,2008
673,tt0800241,15000000,5926410,Transsiberian,Woody Harrelson|Emily Mortimer|Kate Mara|Eduar...,Brad Anderson,You can't escape your lies.,A Trans-Siberian train journey from China to M...,111,Thriller|Crime|Mystery,Lietuvos Kinostudija|Scout Productions|Telecin...,1/18/2008,6.3,2008
702,tt0844286,20000000,5530764,The Brothers Bloom,Rachel Weisz|Adrien Brody|Mark Ruffalo|Rinko K...,Rian Johnson,They'd never let the truth come between them.,The Brothers Bloom are the best con men in the...,114,Adventure|Comedy|Drama|Romance,The Weinstein Company|Summit Entertainment|End...,9/9/2008,6.8,2008
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008
712,tt0490181,8000000,2033165,Mutant Chronicles,Ron Perlman|Thomas Jane|Devon Aoki|Sean Pertwe...,Simon Hunter,Welcome to the 23rd century. The new dark ages.,It's the year 2707. Earth's natural resources ...,111,Action|Adventure|Horror|Science Fiction,Isle of Man Film|Edward R. Pressman Film|Parad...,8/7/2008,5.1,2008

In [115]:
data_2008[data_2008.revenue == data_2008.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

In [119]:
data['profit'] = data['revenue'] - data['budget']
data[(data.release_year>=2012) & (data.release_year <= 2014) & (data.profit == data.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [121]:
data.loc[(data.release_year>=2012) & (data.release_year <= 2014)].sort_values(by='profit',ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
970,tt0848228,220000000,1519557910,The Avengers,Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...,Joss Whedon,Some assembly required.,When an unexpected enemy emerges and threatens...,143,Science Fiction|Action|Adventure,Marvel Studios,4/25/2012,7.3,2012,1299557910
1177,tt2294629,150000000,1274219009,Frozen,Kristen Bell|Idina Menzel|Jonathan Groff|Josh ...,Chris Buck|Jennifer Lee,Only the act of true love will thaw a frozen h...,Young princess Anna of Arendelle dreams about ...,102,Animation|Adventure|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/27/2013,7.5,2013,1124219009
1180,tt1300854,200000000,1215439994,Iron Man 3,Robert Downey Jr.|Gwyneth Paltrow|Guy Pearce|D...,Shane Black,Unleash the power behind the armor.,When Tony Stark's world is torn apart by a for...,130,Action|Adventure|Science Fiction,Marvel Studios,4/18/2013,6.9,2013,1015439994
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012,908561013
1189,tt1690953,76000000,970761885,Despicable Me 2,Steve Carell|Kristen Wiig|Benjamin Bratt|Miran...,Pierre Coffin|Chris Renaud,Back 2 Work,Gru is recruited by the Anti-Villain League to...,98,Animation|Comedy|Family,Universal Pictures|Illumination Entertainment,6/25/2013,7.0,2013,894761885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1235,tt1308729,55000000,9489829,Bullet to the Head,Sylvester Stallone|Sung Kang|Sarah Shahi|Adewa...,Walter Hill,Revenge Never Gets Old.,"After watching their respective partners die, ...",92,Action|Crime|Thriller,Dark Castle Entertainment|After Dark Films|IM ...,1/31/2013,5.2,2013,-45510171
1302,tt0884726,70000000,18662027,Legends of Oz: Dorothy's Return,Lea Michele|Dan Aykroyd|Patrick Stewart|Hugh D...,Dan St. Pierre,There's trouble in OZ...,"Dorothy wakes up in post-tornado Kansas, only ...",88,Animation|Music|Family,Prana Animation Studios|Summertime Entertainment,6/13/2013,6.1,2013,-51337973
1007,tt1374992,60000000,8106475,Upside Down,Kirsten Dunst|Jim Sturgess|Timothy Spall|James...,Juan Diego Solanas,Two worlds. One future.,In an alternate universe where twinned worlds ...,104,Romance|Science Fiction|Drama|Fantasy,Onyx Films|Studio 37|Jouror Productions|France...,9/27/2012,6.1,2012,-51893525
1214,tt0790736,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,7/18/2013,5.3,2013,-68351500
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [174]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
#new_data = data['genres'].str.split('|',expand=True)
#new_data = new_data.explode('genres')
#new_data['genres'].value_counts()
data_genres = data
data_genres.genres.str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [192]:
#Задание 11
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data_genres = data
data_genres.genres.str.split('|').explode().value_counts()
#pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [187]:
#data1 = data.explode('genres')
#answers['11'] = data["genres"].value_counts()

In [176]:
#Задание 15 не работает
#data2 = data.copy()
#data2 = data2[data2.release_year == 2012]  # отдеяем фильмы за 2012
#data2['cast'] = data2['cast'].str.split('|')  # разделяем актеров
#data2 = data2.explode('cast')
#data2.pivot_table(['revenue'], ['cast'], aggfunc='sum', fill_value = 0).nlargest(1, 'revenue').index[0]

                    revenue
cast
Chris Hemsworth  2027450773

In [169]:
#Задание 12
data['profit'] = data['revenue'] - data['budget']
profit_genres=data[data['profit']>0]
profit_genres.genres.str.split('|').explode().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [185]:
#Задание 13
#По первому вопросу - нужно выбрать все данные у которых revenue > budget 
#Затем разбить записи по всем жанрам - по разделителю, объединить в один список и посчитать количество вхождений каждого из жанров в этот список.
data = pd.read_csv('movie_bd_v5.csv')
#data['profit'] = data['revenue'] - data['budget']
#data_tmp = data[data['profit'] > 0]
#pd.Series((data_tmp.genres.str.split('|').sum())).value_counts().index[0]
# По второму вопросу - можно получить список уникальных имен режиссеров
directors = set(data.director.str.split('|').sum())
directors
#Затем пройти по нему с помощью for и для каждого имени - получить сумму выручки (x - имя режиссера)
#data[data.director.str.contains('x')].revenue.sum()

AttributeError: 'set' object has no attribute 'counts'

In [193]:
#Задание 14
data = pd.read_csv('movie_bd_v5.csv')
data[data.genres.str.contains('Action')].director.str.split('|').explode('director').mode()[0]

'Robert Rodriguez'

In [194]:
#Задание 15
data = pd.read_csv('movie_bd_v5.csv')
df2 = data[['release_year', 'revenue', 'cast']].copy()
df2 = df2.loc[df2.release_year == 2012]
df2.cast = df2.cast.str.split('|')
df2 = df2.explode('cast')
print(pd.pivot_table(df2, values='revenue', index='cast', aggfunc='sum').nlargest(1, 'revenue'))

                    revenue
cast
Chris Hemsworth  2027450773

Empty DataFrame
Columns: [imdb_id, budget, revenue, original_title, cast, director, tagline, overview, runtime, genres, production_companies, release_date, vote_average, release_year]
Index: []

In [228]:
#13
data = pd.read_csv('movie_bd_v5.csv')
df_d = data[['director', 'revenue']].copy()
df_d.director = df_d.director.str.split('|')
df_d = df_d.explode('director')
print(pd.pivot_table(df_d, values='revenue', index='director', aggfunc='sum').nlargest(5, 'revenue'))

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916

In [230]:
#16
data = pd.read_csv('movie_bd_v5.csv')
df2 = data[['budget','cast']].copy()
df2 = df2.loc[df2.budget > df2.budget.mean()]
df2.cast = df2.cast.str.split('|')
df2 = df2.explode('cast')
print(pd.pivot_table(df2, values='budget', index='cast', aggfunc='count').nlargest(1, 'budget'))

            budget
cast
Matt Damon      18

In [281]:
#17
data[data.cast.str.contains('Nicolas Cage')].genres.str.split('|').explode('genres').value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

In [282]:
# 18
data['profit'] = data['revenue'] - data['budget']
data[data['production_companies'].str.contains('Paramount Pictures', na=False)].sort_values(by='profit').head(1)['original_title'].values[0]

'K-19: The Widowmaker'

In [314]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [325]:
#Вопрос 19. Какой год стал самым успешным по суммарным кассовым сборам?
data.groupby(by='release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [324]:
#Вопрос 20. Какой самый прибыльный год для студии Warner Bros?
data['profit'] = data['revenue'] - data['budget']
data[data.production_companies.str.contains('Warner Bros')].groupby(by='release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [337]:
#Вопрос 21. В каком месяце за все годы суммарно вышло больше всего фильмов?
data.release_date = pd.to_datetime(data.release_date)
data['release_month'] = data.release_date.dt.month
data.groupby(by='release_month')['imdb_id'].count().sort_values(ascending=False)

release_month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

               month
director
Peter Jackson      7

In [369]:
#Вопрос 22.Сколько суммарно вышло фильмов летом (за июнь, июль, август)?
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
df22 = data[['imdb_id', 'release_date']].copy().set_index('imdb_id')
df22.release_date = df22['release_date'].str.split('/', expand=True)
df22.rename(columns={"release_date": "month"}, inplace=True)
df5 = df22.loc[df22['month'].isin(['6', '7', '8'])]
df5.month.count()


#print(pd.pivot_table(df4, index='imdb_id', aggfunc='count').nlargest(1, 'month'))

450

In [419]:
#Вопрос 23. Для какого режиссера зима — самое продуктивное время года?
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
df2 = data[['imdb_id', 'release_date', 'director']].copy().set_index('imdb_id')
df2.director = df2.director.str.split('|')
df3 = df2.explode('director')
df3.release_date = df3['release_date'].str.split('/', expand=True)
df3.rename(columns={"release_date": "month"}, inplace=True)
df4 = df3.loc[df3['month'].isin(['12', '1', '2'])]
print(pd.pivot_table(df4, index='director', aggfunc='count').nlargest(1, 'month'))

               month
director
Peter Jackson      7

In [457]:
#Вопрос 24. Какая студия даёт самые длинные названия своим фильмам по количеству символов?

import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data_24 = data.copy()
data_24['new_title'] = data_24['original_title'].str.len()
data_24.production_companies = data_24.production_companies.str.split('|')
data_24 = data_24.explode('production_companies')
data_24.groupby(by='production_companies')['new_title'].mean().sort_values(ascending=False)
# Способ 2
#print(pd.pivot_table(data_24, values='new_title', index='production_companies', aggfunc='mean').nlargest(5, 'new_title'))

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: new_title, Length: 1771, dtype: float64

In [460]:
#Вопрос 25. Описания фильмов какой студии в среднем самые длинные по количеству слов?
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data_25 = data.copy()
data_25['new_overview'] = data_25['overview'].str.split().str.len()
data_25.production_companies = data_25.production_companies.str.split('|')
data_25 = data_25.explode('production_companies')
#data_24.groupby(by='production_companies')['new_title'].mean().sort_values(ascending=False)
# Способ 2
print(pd.pivot_table(data_25, values='new_overview', index='production_companies', aggfunc='mean').nlargest(15, 'new_overview'))

                                       new_overview
production_companies
Midnight Picture Show                         175.0
Room 9 Entertainment                          161.0
98 MPH Productions                            159.0
Heineken Branded Entertainment                159.0
Brookwell-McNamara Entertainment              156.0
Crest Animation Productions                   152.0
Lions Gate Family Entertainment               152.0
Art Pictures Studio                           147.0
Cinema Gypsy Productions                      144.0
Starbucks Entertainment                       144.0
Great Wight Productions/ Osford Films         138.0
Sanctum Australia                             138.0
Wayfare Entertainment                         138.0
Sudden Storm Productions                      134.0
Magical Elves Productions                     132.0

In [462]:
#Правильный 26 вариант решения
data[data.vote_average > data.vote_average.quantile(0.99)].sort_values('vote_average',ascending=False)['original_title']

599                                   The Dark Knight
9                                          Inside Out
34                                               Room
118                                      Interstellar
125                                The Imitation Game
119                           Guardians of the Galaxy
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [408]:
#26
import pandas as pd
import numpy as np
data26 = data.copy()
procent_99 = np.percentile(data26.vote_average, 99)
# Записываем в переменную оценку равную 99% от средней
data26[data26.vote_average >= procent_99].sort_values(
    by='vote_average', ascending=False)['original_title']
# Выводим все фильмы с оценкой выше или равной 99%

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

In [428]:
#27
import itertools as it
cast_pairs = data.copy()
cast_pairs['cast'] = cast_pairs.cast.str.split('|')
cast_pairs.cast = cast_pairs.cast.apply(lambda x: list(it.combinations(sorted(x), 2)))
cast_pairs.explode('cast').cast.value_counts()

(Emma Watson, Rupert Grint)              8
(Daniel Radcliffe, Rupert Grint)         8
(Daniel Radcliffe, Emma Watson)          8
(Helena Bonham Carter, Johnny Depp)      6
(Ben Stiller, Owen Wilson)               6
                                        ..
(Jada Pinkett Smith, Saffron Burrows)    1
(Rae Dawn Chong, Susan Sarandon)         1
(Charlize Theron, Josh Helman)           1
(Briana Evigan, Robert Hoffman)          1
(Armin Mueller-Stahl, Ulrich Thomsen)    1
Name: cast, Length: 17943, dtype: int64